html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
}

.player-div {
    display: inline-flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

.player {
    height: 100%;
    width: 100%;
}

.player:hover {
    opacity: 1;
}

/*Metatron Video Tooltip */
.tooltip-metatron {
    position: relative;
    left: 4%;
    bottom: 54.5%;
    width: 5px;
    height: 3px;
    background: red;
}

/* People Video Tooltip */
.tooltip-people {
    position: relative;
    left: 53.5%;
    bottom: 54.5%;
    width: 5px;
    height: 3px;
    background: red;
}

/*Drive Video Tooltip */
.tooltip-drive {
    position: relative;
    left: 14.5%;
    bottom: 4.3%;
    width: 5px;
    height: 3px;
    background: red;
}

/*Gold Video Tooltip */
.tooltip-gold {
    position: relative;
    left: 87%;
    bottom: 4.3%;
    width: 5px;
    height: 3px;
    background: red;
}

/* Info div for all videos */
.info-metatron, .info-people, .info-drive, .info-gold {
    visibility: hidden;
    position: absolute;
    width: 120px;
    height: 100px;
    bottom: 20px;
    left: 50%;
    padding: 15px;
    /*centers modal based on width */
    margin-left: -75px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 10%;
    font-size: 12px;
}

/* Image in Tooltip Div */
.tooltip-pic {
    visibility: hidden;
    height: 60%;
    width: 60%;
    border: 1px solid black;
}

/* Tooltip Description and Image appears on hover */
.tooltip-metatron:hover .info-metatron, .tooltip-metatron:hover .tooltip-pic, .tooltip-people:hover .info-people, .tooltip-people:hover .tooltip-pic,
.tooltip-drive:hover .info-drive, .tooltip-drive:hover .tooltip-pic,
.tooltip-gold:hover .info-gold,
.tooltip-gold:hover .tooltip-pic {
    visibility: visible;
}

.tooltip-metatron:hover, .tooltip-people:hover, .tooltip-drive:hover, .tooltip-gold:hover {
    cursor: pointer;
}